{% extends 'parasitologyTool/base.html' %}
{% load static %}

{% block title_block %}Public Content{% endblock %}

{% block body_block %}
<head>
	<title>Add Parasite</title>
</head>

<body>
	<h1>Add a Parasite</h1>
	<div>
		<form id="parasite_form" method="post" autocomplete="off">
			{% csrf_token %}  
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Create Parasite"/>
        </form>
	</div>
</body>
<a href="{% url 'parasitologyTool:public_content' %}">Public Content</a><br />
<a href="{% url 'parasitologyTool:index' %}">Homepage</a><br />
{% endblock %}