{% extends 'parasitologyTool/base.html' %}
{% load static %}

{% block title_block %}clinical parasite page{% endblock %}

{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/posts.css' %}">
	<h1>Welcome to the Clinical Parasite Page for {{ parasite.name }}</h1>
	<div>
		<a href="{% url 'parasitologyTool:add_post' parasite.id %}">add post</a>
	</div>
	<div>
		{% for post in posts %}
			<div id="post">
				<h3>{{ post.title }}</h3>
				<p>{{ post.content|linebreaks|urlize }}</p>
				{% if post.images %}
                    {% for image in post.images %}
                        <a href="{{ MEDIA_URL }}{{ image.image }}"><img src="{{ MEDIA_URL }}{{ image.image }}" width="300px" height="300px"></a>
                    {% endfor %}
                {% endif %}
				<br>
				<a href="{% url 'parasitologyTool:clinical_post_page' parasite.id post.id %}">comments</a>
			</div>
			&nbsp;
		{% endfor %}
	</div>
{% endblock %}