{% extends 'parasitologyTool/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title_block %}Clinical Post Page{% endblock %}

{% block body_block %}
		<div id="post">
			<h3>{{ post.title }}</h3>
			<p>{{ post.content|linebreaks|urlize }}</p>
			{% if post.images %}
                {% for image in post.images %}
                    <a href="{{ MEDIA_URL }}{{ image.image }}"><img src="{{ MEDIA_URL }}{{ image.image }}" width="300px" height="300px"></a>
                {% endfor %}
            {% endif %}
		</div>
		&nbsp;
		<h3>Comments ...</h3>
		<form id="comment_form" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <button class="btn btn-outline-info" type="submit">add comment</button>
        </form>
        &nbsp;
        {% for comment in post.comments %}
        	<p>{{ comment }} - {{ comment.user.username }}</p>
            <div>
        		<button onclick="commentReplyToggle('{{ comment.id }}')">reply</button>
        	</div>
        	<div class="mt-3 d-none" id="{{ comment.id }}">
        		<form method="POST" id="replyForm" class="ajax-form-reply" data-url="{% url 'parasitologyTool:comment-reply' post.id comment.id %}" autocomplete="off" class="input-group">
    				{% csrf_token %}
    				{{ reply_form | crispy }}
    				<div class="input-group-append">
    					<button type="submit" class="btn btn-success mb-3">go!</button>
    				</div>
    			</form>
        	</div>
            <div id="reply-{{comment.id}}"> 
                <ul class="replies">
                    {% for reply in comment.replies %}
                    <li>{{reply}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    <script type="text/javascript" src="{% static 'js/reply.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reply-ajax.js' %}"></script>
{% endblock %}