{% extends 'parasitologyTool/base.html' %}
{% load static %}

{% block title_block %}Clinical Portal
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/drop_down.css' %}">
	<h1>Research Portal</h1>
	<div>
		<a href="/parasitologyTool/">Home</a><br />
	</div>
	<div class="dropdown">
		<button class="dropbtn">Select Parasite</button>
		<div class="dropdown-content">
			{% for parasite in parasite_list %}
			<a href="{% url 'parasitologyTool:research_parasite_page' parasite.id %}">{{ parasite.name }}</a>
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/drop_down.js' %}"></script>
{% endblock %}