/*some basic css to display posts*/
#post{
	background-color:#B8B8B8;
	border-radius: 5px;
}
#post h3{
	font-family: sans-serif;
	padding-left: 10px;
	padding-top: 10px;
}
#post p{
	padding-left: 10px;
	padding-bottom: 10px;
}

#post img{
	padding-left: 10px;
	padding-bottom: 10px;
}