/* css on register page */
    body{   
    width: 100%;   
    height: 100%;   
    font-family: 'Open Sans',sans-serif;   
    margin: 0;   
    background-color: white;   
}   
#login{        
    width: 320px; 
    margin-bottom: 10px;  
    border-radius: 10px;
    background-color: #E5E5E5; 
}   
#login h1{   
    color: black;   
    text-shadow:0 0 10px;
    padding-top: 10px;   
    letter-spacing: 1px;   
    text-align: center;   
}   
h1{   
    font-size: 2em;   
    margin: 0.67em 0;   
}   
.part input{   
    width: 280px;   
    height: 35px;   
    margin-bottom: 10px; 
    margin-left: 20px;
    padding-left: 30px;  
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: #fff;     
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;   
    border-radius: 4px;   
    background-color: #2D2D3F;   
}   
.but {   
    width: 280px;   
    height: 41px;   
    margin-left: 20px ;  
    margin-bottom: 20px; 
    background-color: #fcda5e;   
    border: 1px solid white;   
    color: black;   
    font-size: 15px;   
    line-height: normal;   
    border-radius: 5px;    
} 

.profile {
    margin-left: 20px;
}
#username { background-image: url(../images/user1.svg); background-size: 30px 30px; background-position: 3px 3px; background-repeat: no-repeat; padding-left: 38px;}

#password { background-image: url(../images/lock.svg); background-size: 30px 30px; background-position: 3px 3px; background-repeat: no-repeat; padding-left: 38px;}
#confirm-password { background-image: url(../images/lock.svg); background-size: 30px 30px; background-position: 3px 3px; background-repeat: no-repeat; padding-left: 38px;}
#email { background-image: url(../images/mail.svg); background-size: 30px 30px; background-position: 3px 3px; background-repeat: no-repeat; padding-left: 38px;}